<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [171]:
import pandas as pd
import warnings

warnings.filterwarnings(action='once')
%matplotlib inline

In [8]:
# Change the path to the dataset file if needed. 
PATH = '../../data/athlete_events.csv'

In [12]:
data = pd.read_csv(PATH).drop(["Games"], axis=1)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [13]:
data.dtypes

ID          int64
Name       object
Sex        object
Age       float64
Height    float64
Weight    float64
Team       object
NOC        object
Year        int64
Season     object
City       object
Sport      object
Event      object
Medal      object
dtype: object

In [21]:
data.drop("ID", axis=1).describe().T

,count,mean,std,min,25%,50%,75%,max
Age,261642.0,25.556898,6.393561,10.0,21.0,24.0,28.0,97.0
Height,210945.0,175.338970,10.518462,127.0,168.0,175.0,183.0,226.0
Weight,208241.0,70.702393,14.348020,25.0,60.0,70.0,79.0,214.0
Year,271116.0,1978.378480,29.877632,1896.0,1960.0,1988.0,2002.0,2016.0

In [178]:
data.isna().sum()

ID              0
Name            0
Sex             0
Age          9474
Height      60171
Weight      62875
Team            0
NOC             0
Year            0
Season          0
City            0
Sport           0
Event           0
Medal      231333
Age_Cat         0
dtype: int64

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- **14 and 12** 
- 16 and 12
- 13 and 11

In [29]:
# You code here 
data[data["Year"] == 1996].groupby(by="Sex").min()

,ID,Name,Age,Height,Weight,Team,NOC,Year,Season,City,Sport,Event
Sex,,,,,,,,,,,,
F,13,Aa Bela Joaquim,12.0,136.0,30.0,Albania,ALB,1996,Summer,Atlanta,Archery,Archery Women's Individual
M,30,"A. J. Tyronne Benildus ""Benny"" Fernando",14.0,147.0,45.0,Afghanistan,AFG,1996,Summer,Atlanta,Archery,Archery Men's Individual

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- **1.5**
- 2.5
- 7.7

In [180]:
# You code here
gym_males_2000 = data[(data["Year"] == 2000) & (data["Sport"] == "Gymnastics") & (data["Sex"] == "M")].drop_duplicates("Name").shape[0]
all_males_2000 = data[(data["Year"] == 2000) & (data["Sex"] == "M")].drop_duplicates("Name").shape[0]
print("All gym males in 2000: ", gym_males_2000)
print("All males in 2000: ", all_males_2000)
print("Answer: ", round(gym_males_2000 / all_males_2000 * 100, 1))

All gym males in 2000:  97
All males in 2000:  6576
Answer:  1.5

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- **182.4 and 9.1**

In [73]:
# You code here
round(data.query("Sex == 'F' and Sport == 'Basketball' and Year == 2000").Height.describe(), 1)[1:3]

mean    182.4
std       9.1
Name: Height, dtype: float64

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- **Bobsleigh**
- Weightlifting
- Boxing

In [191]:
# You code here 
max_weight_index = data[data["Year"] == 2002]["Weight"].idxmax()
data.iloc[max_weight_index, :]["Sport"]

'Bobsleigh'

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- **3**

In [94]:
# You code here
data[data["Name"] == "Pawe Abratkiewicz"].drop_duplicates("Year")

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Year,Season,City,Sport,Event,Medal
997,562,Pawe Abratkiewicz,M,21.0,183.0,84.0,Poland,POL,1992,Winter,Albertville,Speed Skating,Speed Skating Men's 500 metres,NaN
999,562,Pawe Abratkiewicz,M,27.0,183.0,84.0,Poland,POL,1998,Winter,Nagano,Speed Skating,Speed Skating Men's 500 metres,NaN
1001,562,Pawe Abratkiewicz,M,31.0,183.0,84.0,Poland,POL,2002,Winter,Salt Lake City,Speed Skating,Speed Skating Men's 500 metres,NaN

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- **0**
- 1 
- 2 
- 3

In [97]:
# You code here 
data.query("Year == 2000 and Sport == 'Tennis' and Team == 'Australia'")["Medal"].value_counts()

Silver    2
Name: Medal, dtype: int64

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- **Yes** 
- No

In [112]:
# You code here
data.dropna()[(data["Year"] == 2016) & (data["Team"].isin(["Switzerland", "Serbia"]))].groupby(by="Team")["Medal"].count()

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

Team
Serbia         54
Switzerland    11
Name: Medal, dtype: int64

In [174]:
val_sample = data.dropna()[(data["Year"] == 2016) & (data["Team"].isin(["Switzerland", "Serbia"]))]
pd.crosstab(val_sample["Team"], val_sample["Medal"])

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Medal        Bronze  Gold  Silver
Team
Serbia           13    14      27
Switzerland       2     6       3

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- **[45-55] and [15-25) correspondingly**
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [146]:
def age_encoder(age):
    if age >= 15 and age < 25:
        return "15-24"
    elif age >= 25 and age < 35:
        return "25-34"
    elif age >= 35 and age < 45:
        return "35-44"
    elif age >= 45 and age < 55:
        return "45-54"
    else:
        return "other"
data["Age_Cat"] = data["Age"].map(age_encoder)

In [177]:
# You code here
print(data["Age_Cat"].value_counts().idxmin())
print(data["Age_Cat"].value_counts().idxmax())

45-54
15-24

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- **No, Yes**
- No, No

In [159]:
# You code here 
print(data.query("Season == 'Summer'")["City"].value_counts().index.isin(["Lake Placid"]).sum())
print(data.query("Season == 'Winter'")["City"].value_counts().index.isin(["Sankt Moritz"]).sum())

0
1

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- **34**

In [170]:
# You code here
len(set(data.query("Year == 1995")["Sport"])) - len(set(data.query("Year == '2016'")["Sport"]))

-34